<h1>
    <span>Post Page</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if user.is_authenticated %}
        <span><a href="{% url 'logout' %}">Logout</a></span>&nbsp;&nbsp;&nbsp;
    {% endif %}
    <span><a href="{% url 'post' %}">Refresh</a>
</h1>
<hr><hr>

{% if user.is_authenticated %}
    <form action="{% url 'post' %}" method='post'>{% csrf_token %}
        {{ post_form.as_p }}
        {{ message }}
        <input type="submit" value="Create">
    </form>
{% endif %}
<hr><hr>

{% for post in posts %}
<h3>{{ post.user }} &nbsp; <small>Created at(GMT) :  {{ post.created_at }}</small></h3>
<p>{{ post.text }}</p>
<hr>
{% endfor %}